*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
#navbar{
    position: sticky;
    top:0;
    left:0;
    z-index:100;
    padding:.5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background-color: lightgray;
}


#navbarSupportedContent a{
       color:black;
       font-size: 20px;
       font-weight: 300;
}
.navbar a:hover{
       border-bottom: 3px solid green;
}



.navbar .navbar-brand{
      color:green;
      font-weight: 400;
}

section{
         min-height:100vh;
         width:100%;
         display: flex;
         justify-content: center;
         align-items: center;
}

#home{
    background:linear-gradient(to right,rgba(144, 53, 53, 0),rgb(196, 48, 48));
    width:100%;
    display: flex;
    justify-content: space-between;
}
#home h1{
     font-size:40px;
     color:black;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin-left: 40px;
     letter-spacing: 2px;
     margin-top: 40px;
     font-weight: bold;
}
span{
    color:brown;
    font-size: 25px;
}
#home h2{
       color:brown;
       font-weight: bold;
       margin-left: 50px;
       font-size: 17px;
       font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#home button{
    width:150px;
    border-radius: 15px !important;  
    padding: 5px;
    background-color:brown;
    color:white;
     margin-left:60px !important;
   }
   #home button:hover{
         background-color:darkgrey;
         color:white;
   }
#home a{
        font-size: 30px;
        color:cyan;
        margin-left: 20px;
}
#home a i:hover{
    transform: scale(1.50);
  }                         

#home img{
        width:350px;
        height:360px;
        border:none;

        border-radius:10px;
        
        
        margin-left: 65px;
        
}

#summary .card{
    margin:5px;
    margin-top: 10px;
    border:black;
    width:340px;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);

}
#summary .card h5{
color: brown;
font-weight: bold;
}
#summary button{
    width:100px;
    border-radius: 5px !important;  
    padding: 2px;
    background-color:brown;
    color:white;
    margin-left: 1px !important;
   }
#summary button:hover{
       background-color: darkgreen;
}
#container{
    display: flex;
    flex-wrap: wrap;
    background-color:white;
    width:100%;
    min-height:100vh;
}
#container .card{
 margin-top: 6px;
 margin-bottom: 10px;
 margin-left: 6px;
 background-color:white;
 width:14rem;
 box-shadow: 5px 5px 20px rgba(0,0,0,.5);
}
#container .card img{
height:120px;
}
#container h2{
 font-size: 20px;
 
 color:black;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#container h3{
  font-size: 21px;
  color:black;
  font-family:fantasy;
}
#container button{
    width:100px;
    border-radius: 4px !important;
    padding: 5px;
    background-color:blueviolet;
    color:white;   
    border:none;
    margin-left: 1px !important;
   }
   #container button:hover{
         background-color:darkgreen;
         color:white;
   }
#items{
        flex-wrap:wrap;
    display:flex;
    background-color:cyan;
    margin-top:25px;
}
   #items .card{
        margin: 4px;
        box-shadow:5px 5px 20px rgba(0,0,0,.5); 
        height:17rem;
       width:18rem;
   }
   #items .card img{
        height:7rem;
   }
   #items .card h5{
       color:brown;
       font-size: 17px;
   }
   #items .card h4{
        font-size: 16px;
   }
#footer{
    background-color: black;
    width: 100%;
    min-height: 100vh;
    margin-top: 10px;
}


#footer div{
       
          font-size: 23px;
          color:lightgreen;
          list-style: none;
}
#footer div li{
          color:white;
          font-size: 16px;

}
#footer a{
          font-size: 35px;
          color:white;
}
#footer p{
          margin-top:200px;
          color:white;
          font-size: 14px;
}
  @media screen and (max-width:600px){
       #footer div{
                    margin-right:120px;
                    color:yellow;
       }
       #footer p{
              margin-left:70px;
  }
    
